# Author: Petr Šebela
# Date: 22. 9. 2020
# Time: 00:39

title: 'Elvide'
name: 'Elvide'

dashboard:
    title: 'Dashboard'
    newOrders: "New Orders"
    notCompletedOrders: "Not Completed Orders"
    notNewOrders: "There are not any new Orders."
    notProcessingOrders: "There are not any Orders in process."

users:
    title: 'Users'
    role: 'Role'
    list: 'Users list'
    detail: 'User detail %name%'
    basicInformations: 'Information'
    usersList: 'Users list'
    edit: 'Edit user %name%'
    add: 'Add user'
    name: 'Name'
    email: 'Email'
    notFoundInRole: "In role %name% doesn't exists any user"
    active: 'Active'
    activeYes: 'Yes'
    activeNo: 'No'
    phone: 'Phone number'
    lastLogin: 'Last login'
    createdAt: 'Created at'
    deactivate: 'Deactivate'
    activate: 'Activate'

rights:
    title: 'Rights'
    role: 'Role'
    edit: 'Edit right of role %name%'
    chooseRole: 'Choose role for edit permissions.'

authentication:
    title: 'Login'

stockchanges:
    title: 'Stock changes'
    informations: 'Informations'
    name: 'Name'
    ean: 'EAN'
    supplierInternalId: 'Supplier internal ID'
    createdAt: 'Created at'
    updatedAt: 'Updated at'
    stockChanges: 'Stock changes'
    stockChangesDaily: 'Daily stock changes'

orders:
    title: 'Orders'
    ordersList: 'Orders list'
    detail: 'Order detail %number%'
    sentAt: 'Date'
    personalData: 'Personal data'
    deliveryData: 'Delivery data'
    supplierBillingData: 'Supplier billing data'
    orderItems: 'Items'
    orderState: 'Order state'
    itemsTotal: 'Total'
    stateChanges: "State changes"
    orderProcessWalkthrough: "Order process walkthrough"
    description: "Description"
    information: "Information"

stockItems:
    title: 'Stock'

stockItemMovements:
    title: 'Stock movements'

stockChanges:
    title: 'Stock changes'

supplierProducts:
    title: "Supplier products"
    noSupplierSelected: "Supplier not selected."

products:
    title: "Products"
    assignedMarkets: "Assigned Markets"
    stockChanges: "Stock Changes"

productMarketAssignation:
    title: "Product market assignation"

marketing:
    title: "Marketing"