user:
    name: 'Name'
    surname: 'Surname'
    phoneNumber: 'Phone'
    email: 'Email'


order:
    name: 'Name'
    email: 'Email'
    phone: 'Phone'
    billingAddress: 'Billing address'
    company: 'Company'
    ic: 'IC'
    dic: 'DIC'
    deliveryName: 'Name'
    deliveryCompany: 'Company'
    deliveryAddress: 'Address'
    state: 'State'
    market: 'Market'
    paymentType: 'Payment type'
    deliveryType: 'Delivery type'
    note: 'Note'
    sentAt: 'Date'
    number: "Number"
    totalPriceVat: "Total price inc. TAX"
    stateNEW: "New"
    stateCONFIRMED: "Confirmed"
    statePROCESSING: "Processing"
    stateWAITING_FOR_DELIVERY: "Waiting for delivery"
    stateWAITING_FOR_PICKUP: "Waiting for pickup"
    stateSTATE_COMPLETED: "State completed"
    stateSTORNO: "Storno"
    stateRETURNED: "Returned"


orderItem:
    number: 'num.'
    name: 'Name'
    quantity: 'Quantity'
    pricePieceVat: 'pc. w. VAT'
    price: 'Price'
    priceVat: 'Price VAT'

marketProduct:
    number: "Number"
    name: "Name"
    totalSales: "Total sales"
    active: "Active"
    createdAt: "Created"
    updatedAt: "Updated"

product:
    ean: "EAN"
    createdAt: "Created"
    updatedAt: "Updated"

orderStateChange:
    state: "State"
    createdAt: "Created"
    createdBy: "Author"