{block content}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">YOU ARE HERE</li>
        <li class="breadcrumb-item active">{_app.dashboard.title}</li>
    </ol>
    <h1 class="page-title">{_app.dashboard.title}
        <small>
            <small>The Lucky One</small>
        </small>
    </h1>
{/block}