services:
    #SERVICES

    #COMPONENTS
    - App\AdminModule\Components\IMenuComponentFactory

    #DATAGRIDS
    - App\AdminModule\Components\StockItemsDatagridFactory
    - App\AdminModule\Components\OrdersDatagridFactory
    - App\AdminModule\Components\SupplierProductsDatagridFactory

    #FORMS
    - App\AdminModule\Forms\ILoginFormFactory
    - App\AdminModule\Forms\IEditRightsFormFactory
    - App\AdminModule\Forms\IUserFormFactory